
  .line {
    fill: none;
    
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 1rem;
    fill: #635F5D;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 2em;
    fill: #8E8883;
  }
  
  .title {
    font-size: 2em;
    fill: #635F5D;
  }